@import '../../../../App.scss';

.admin_services {
    border : 3px solid $primary;
    padding : 10px;
    border-radius : 5px;
    margin: 1rem 0 1rem 0;
    background-color : $secondary;
    color : $third;
    width: 100%;
    text-align : center;
}

.description {
    font-size : 1rem;
    margin : 10px;
    width: 20%;
}