body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

:root {
    font-family: $font-family-base;
    background-color: $third;
    color: $secondary;
}

p {
    margin: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

// @function pxToRem($px) {
//     @return $px / 16px * 1rem;
// }