@import "../../App.scss";

.banner {
  background-image: url("../../assets/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

.banner__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 3rem;
}

@media screen and (max-width: 768px) {
  .banner__content {
    flex-direction: column;
  }
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: $third;
  margin-bottom: auto;
  text-shadow: 1px 1px 1px $primary;
  -webkit-text-stroke: 1px $primary;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

.title__span {
  color: $primary;
  text-shadow: 1px 1px 1px $third;
  -webkit-text-stroke: 1px $third;
}

.banner__description {
  font-size: 1.2rem;
  font-weight: 500;
  color: $third;
  width: 40%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .banner__description {
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
}

.subtitle {
  font-size: 3rem;
  font-weight: 700;
  color: $third;
  margin-top: auto;
  text-shadow: 1px 1px 1px $primary;
  -webkit-text-stroke: 1px $primary;
}

@media screen and (max-width: 768px) {
  .subtitle {
    font-size: 2rem;
  }
}

.subtitle__span {
  color: $primary;
  text-shadow: 1px 1px 1px $third;
  -webkit-text-stroke: 1px $third;
}
