@import '../../App.scss';

.container {
    background-color: $primary;
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem 2rem 2rem 2rem;
}

.title {
    color: $secondary;
    font-size: 2rem;
    color: $third;
    border-bottom: 3px solid $secondary;
    width: 30%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
}

.project_gallery {
    width: 30%;
    padding: 0.3rem;
    text-align: center;
}

.project_image {
    width: 80%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .project_gallery {
        width: 100%;
    }

    .title {
        width: 100%;
    }
}