@import '../../App.scss';

.container {
    background-color: $primary;
    padding: 2rem;
}

.title {
    color: $secondary;
    font-size: 2rem;
    color: $third;
    border-bottom: 3px solid $secondary;
    width: 30%;
}

.project_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 0 2rem 0;
}