body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

:root {
    font-family: $font-family-base;
    background-color: $third;
    color: $secondary;
}

p {
    margin: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

a {
    text-decoration: none;
    color: $primary;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
    font-family: $font-family-base;
}

footer {
    position: sticky;
}

a:hover {
    color: $secondary;
    text-decoration: underline;
}

.admin_container {
    background-color: $secondary;
    color: $third;
    padding: 1rem;
    border-radius: 0.2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.admin__form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    margin: 0 auto;
}

.scrollbar
{
	height: 100vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}

#style-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-scroll::-webkit-scrollbar-thumb
{
	background-color: $primary;
	background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
	transparent 25%,
	transparent 50%,
	rgba(255, 255, 255, .2) 50%,
	rgba(255, 255, 255, .2) 75%,
	transparent 75%,
	transparent)
}

// @function pxToRem($px) {
//     @return $px / 16px * 1rem;
// }