@import '../../styles/variables.scss';

.container {
    background-color: $secondary;
    color: $third;
}

@media screen and (min-width: 768px) {
    .admin__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: $secondary;
        color: $third;
    }
}